.all{
    border: 1px solid rgb(214, 214, 214);
    width: 20%;
    margin: 1rem 0;
    box-shadow: 0 2px 6px 2px rgb(197, 196, 196) ;
}


.title{ 
    margin: .6rem;
    height: 20%;
    color: white;
    text-align: center;
    font-size: 16px;
    background-color: #9E7540;
    text-align: start;
}
