.all{
    display: flex;
}

.card{
    width: 16rem;
    height: 30rem;
    background-color: white;
    margin: 1rem 0 0 3rem;
    box-shadow: 0 2px 6px 2px rgb(197, 196, 196);
}

.img{
    width: 9rem;
    height: 9rem;
    margin: auto;
    display: block;
    padding: 1.2rem 0;
}

.text1{
    font-size: 14px;
    font-weight: normal;
    padding: .4rem 0 1.2rem .8rem;
}

.text2{
    font-size: 18px;
    padding: 1rem .8rem 0 .8rem;
}

.text3{
    font-size: 16px;
    display: flex;
    align-items: flex-end;
    padding-left: 1rem;
}

.text4{
    font-size: 14px;
    font-weight: normal;
    padding: .4rem .4rem 1.2rem .8rem;
}

.info{
    display: inline;
    width: auto;
}

.title{
    background-color: white;
    margin: .8rem 0 0 6.6rem;
    padding-left: .6rem;
    box-shadow: 0 2px 6px 2px rgb(197, 196, 196);
    height: 2.4rem;
    display: flex;
    align-items: center;
    color: #1F618D ;
}

.amount{
    font-size: 18px;
    padding-left: 1rem;
    padding-top: .5rem;
}

.cardChapters{
    margin: .8rem 0 2rem 6.6rem;
    border: 1px solid rgba(214, 214, 214, 0.242);
    box-shadow: 0 2px 6px 2px rgb(220, 219, 219) ;
    width: 50rem;
}

.titleChapters{
    display: flex;
    justify-content: space-between;
    padding: 1rem 1rem 0 1rem;
    font-size: 10px;
    font-weight: 0;
}

.infoChapters{
    display: flex;
    justify-content: space-between;
    width: 30%;
}



